<f-drag-grid (fMovedTo)="onItemMovedToCell($event)">
    <f-header>
        <f-header-row>
            <div class="time-cell"></div>
            <button class="change-date-button previous" (click)="prev.emit()">
                <mat-icon>arrow_left</mat-icon>
            </button>
            @for (column of viewModel?.columns;track column) {
                <f-header-cell [class.today]="column.isToday">
                    <div class="day-of-week">{{ column.id | date : 'EE' }}</div>
                    <div class="date">{{ column.id | date : 'd' }}</div>
                </f-header-cell>
            }
            <button class="change-date-button next" (click)="next.emit()">
                <mat-icon>arrow_right</mat-icon>
            </button>
        </f-header-row>
    </f-header>
    <f-body>
        @for (row of viewModel?.rows;track row; let i = $index) {
            <f-body-row>
                <div class="time-cell">
                    <div>{{ row.id | date : 'HH:mm' }}</div>
                </div>
                @for (cell of row.cells;track cell) {
                    <f-body-cell [id]="cell.id">
                        @for (item of cell.items;track item) {
                            <f-cell-item [id]="item.id">
                                <schedule-item [viewModel]="item"
                                               (delete)="onDeleteItem(i, cell.id, item.id)"></schedule-item>
                            </f-cell-item>
                        }
                    </f-body-cell>
                }
            </f-body-row>
        }
    </f-body>
</f-drag-grid>
