@if (form) {
    <ng-container [formGroup]="form">
        <button class="create-button" (click)="createScheduleItem()">Create New</button>

        <mat-card class="calendar-card">
            <date-picker formControlName="startDate"></date-picker>
        </mat-card>
        <mat-card class="employees-card">
            <mat-card-header class="employees-header">Employees</mat-card-header>
            <div class="body" formArrayName="employees">
                <ul>
                    @for (employee of employees;track employee;let i = $index) {
                        <li>
                            <mat-checkbox [formControlName]="i">{{ employee.name }}</mat-checkbox>
                        </li>
                    }
                </ul>
            </div>
        </mat-card>
    </ng-container>
}

