@if (form) {
    <mat-card class="calendar-card">
        <mat-calendar [selected]="startDate" (selectedChange)="dateChanged($event)"></mat-calendar>
    </mat-card>
    <mat-card class="employees-card" [formGroup]="form">
        <mat-card-header class="employees-header">Employees</mat-card-header>
        <div class="body" formArrayName="employees">
            <ul>
                @for (employee of employees;track employee;let i = $index) {
                    <li>
                        <mat-checkbox [formControlName]="i">{{ employee.name }}</mat-checkbox>
                    </li>
                }
            </ul>
        </div>
    </mat-card>


}

