.schedule-card {
  border-left: 2px solid;
  border-radius: 2px;
  box-shadow: 0px 0px 3px 0px #eeeeee;
  font-size: 12px;
  letter-spacing: 0.1px;
  line-height: 15px;
  color: #676b6f;

  .mat-mdc-card-header {
    padding: 12px 12px 0;
  }

  .mat-mdc-card-content {
    padding: 0 12px 12px;
  }

  .service-name {
    font-weight: 500;
    margin-bottom: 8px;
    color: #3C4043;
  }

  .client-contact {
    margin-bottom: 8px;
  }
}

.menu-button {
  position: absolute;
  right: 6px;
  top: 10px;
  width: 24px;
  height: 24px;
  display: block;
  margin: 0;
  border: none;
  background: none;
  outline: none;
  border-radius: 4px;
  padding: 2px;

  mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
